
.profile-card {
    position: relative;
    width: 500px;
    background-color: #FFF;
    border-radius: .5rem;
    overflow: hidden;
    transition: all .25s ease;

}
.profile-card:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
.profile-card .card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    color: #FFF;
    background: linear-gradient(135deg, #333, #d32f2f);
}
.profile-card .card-header .profile-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FFF;
}
.profile-card .card-header .profile-name {
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: 700;
}
.profile-card .card-header .profile-role {
    font-size: 1.05rem;
    color: #DDD;
}
.profile-card .card-header .profile-location {
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}
.profile-card .card-header .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.profile-card .card-header .divider svg {
    position: relative;
    display: block;
    width: calc(150% + 1.5px);
    height: 50px;
}
.profile-card .card-header .divider svg path {
    fill: #FFFFFF;
}
.profile-card .card-body {
    padding: 2rem;
}
.profile-card .card-body .title {
    color: #666;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 700;
    text-transform: uppercase;
}
.profile-card .card-body .contact-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.profile-card .card-body .contact-list .contact-item {
    width: 50px;
    height: 50px;
    padding: .75rem;
    border-radius: .5rem;
}

.icon {
    position: relative;
    top: .25rem;
    width: 1.25em;
    height: 1.25em;
}
.icon.white path, .icon.white polygon, .icon.white rect {
    fill: #FFF;
}

.contact-icon {
    width: 100%;
    height: 100%;
}
.contact-icon path {
    fill: #FFF;
}
